body {
    background-color: #b7f9f9;
    font-family: youthful;
}

h1 {
    text-align: center;
}

.weather-location {
    padding: 30px;
}

.weather-info {
    padding: 30px;
}

#each-forecast-days {
    align-items: center;
}

h2 {
    margin: -190px;
}